[submodule "e2sim/3rdparty/prometheus-cpp"]
	path = e2sim/3rdparty/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
[submodule "e2sim/3rdparty/nlohmann_json_release"]
	path = e2sim/3rdparty/nlohmann_json_release
	url = https://github.com/azadkuh/nlohmann_json_release.git
[submodule "e2sim/3rdparty/manager_api"]
	path = e2sim/3rdparty/manager_api
	url = https://github.com/trbecker/envman.git
